$mobile: 450px;

.swiper-slide-active {
  //margin-right: 0 !important;
  //margin-left: 0 !important;
}

.swiper {
  position: relative;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 100%;

  .swiper-button-prev,
  .swiper-button-next {

    @media (max-width: $mobile) {
      display: none;
    }

    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    width: 38px !important;
    height: 38px !important;
    margin-top: 0 !important;
    z-index: 100;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0 4px 24px rgba(0, 11, 38, 0.12) !important;
    transition: all 0.1s ease;

    &:hover {
      width: 42px !important;
      height: 42px !important;
    }

    &:after {
      display: none;
    }
  }

  .swiper-button-prev {
    background-image: url("../../../../redux/arrow_left.svg"); //todo как-то переделать
    left: 0 !important;
    transform: translate(calc(2vw - 50%), -50%) !important;
  }
  .swiper-button-next {
    right: 0 !important;
    transform: translate(calc(50% - 2vw), -50%) !important;
    background-image: url("../../../../redux/arrow_right.svg"); //todo как-то переделать
  }
}
