.banner {
  width: 100%;
  border-radius: 24px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  background: #B3EDC8;

  .banner__information {
    width: 50%;
    padding: 34px 64px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      color: #000B26;
    }

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: inline-block;
      margin-top: 16px;
    }

    button {
      background: #07C88E;
      border-radius: 8px;
      border: none;
      padding: 12px 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      width: 179px;
      cursor: pointer;
      transition: all 0.1s ease;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .banner__img {
    width: 40%;
    overflow: hidden;
    border-radius: 24px;
    margin-right: 64px;

    img {
      height: 100%;
    }
  }
}

