$mobile: 450px;

.footer {
  width: 100%;
  height: 50px;
  box-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.12);

  @media (max-width: $mobile) {
    height: 100px;
    margin-top: 40px;
  }

  .footer__inner {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }

    .footer__information {
      margin-right: 31px;
      display: flex;
      align-items: center;

      @media (max-width: $mobile) {
        margin: 10px 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        margin-right: 10px;
      }

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: rgba(0, 11, 38, 0.64);
      }
    }
  }
}


