*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', serif;
  font-weight: 400;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
}

$mobile: 450px;
.body__main {
  margin-top: 85px;

  @media (max-width: $mobile) {
    margin-top: 60px;
  }
}